
.sep-row {
    height: 20px;
}

.tr-th {
    background: #f5f5f5;
    height: 31px;
    line-height: 31px;
    color: #aaa;
    overflow: hidden;
}

.tr-bd {
    text-align: center;
    vertical-align: top;
}

td {
    padding: 14px 0;
    border: 1px solid #e5e5e5;
}

.not-found {
    height: 200px;
    background: url("../img/empty.jpg")no-repeat center center;
    background-size: auto 100%;
    -moz-background-size: auto 100%;
    -webkit-background-size: auto 100%;
}

.daterangepicker .input-mini {
    width: 100%!important;
}