.form-body label {
    float:left;
    width:78px;
    text-align: left;
    display: inline-block;
}
.form-body .row {
    margin-top: 5px;
}

.sear-form .form-actions {
    text-align: center;
    margin-top: 10px;
}

.sear-form .form-actions .btn {
    margin-top: 10px;
}

.form-control-custom {
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #c2cad8;
    outline: 0!important;
}