
#login-page, #changepw-page {
    padding: 120px 0;
}
#login-page form, #changepw-page form {
    width: 280px;
}
#login-page form h3 {
    font-size: 25px;
    font-weight: 300;
    color: #666;
    margin: 20px -100px;
}
#login-page form input[type=text], #login-page form input[type=password], #changepw-page form input[type=password] {
    padding: 10px 10px!important;
    height: auto!important;
    font-size: 16px;
}
#login-page .login-icon, #changepw-page .login-icon {
    text-align: center;
    margin-bottom: 28px;
}
#login-page .controls, #changepw-page .controls {
    margin-top: 10px;
}
.input-block-level {
    -moz-box-sizing: border-box;
    display: block;
    min-height: 30px;
    width: 100%;
}
.centered-form {
    margin: 0 auto;
}

#download {
    margin: 5px 0;
    padding: 15px 0;
    font-size: 95%;
    text-align: center;
}
body {
    font-family: "Helvetica", "Arial", "微软雅黑", sans-serif!important;
    /*background:url('${ctx}/static/images/bg.png') fixed no-repeat;*/
    background-size: cover;
}


#login-page form h3 {
    font-size: 28px;
    color: #070b1f;
    font-weight: bold;
}

#login-page {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
}

/*#login-form {*/
    /*display: inline-block;*/
    /*background: rgb(68,77,92);*/
    /*!*width: 100%;*!*/
    /*float: right;*/
    /*top: 120px;*/
    /*right: 60px;*/
    /*width: 350px;*/
    /*position: absolute;*/
    /*padding: 25px 25px 23px;*/
/*}*/

#login-page .login-bar {
    vertical-align: middle;
    opacity: 0.9;
    display: table-cell;
}

#login-page form h3 {
    font-size: 32px;
    color: #eee;
    font-weight: bold;
}

#loginbtn {
    background-color: #df5c39;
}

#login-page form input[type=text], #login-page form input[type=password] {
    padding: 10px 10px!important;
    height: auto!important;
    font-size: 16px;
}

.page-header.navbar .page-logo .logo-default {
    margin: 0 0 0 -20px;
    height: 46px;
}

label.error {
    color: #ff3f13 !important;
    font-size: 12px;
    margin: 5px 0px 0px 1px;
    font-weight: 400;
}

label.error-msg {
    color: #ff3f13 !important;
    font-size: 12px;
    margin: 5px 0px 0px 1px;
    font-weight: 400;
}