.alert-notice-wrap {
    text-align: center;
    position:fixed;
    width:180px;
    height:90px;
    top:50%;
    left:50%;
    margin:-50px 0 0 -50px;
    z-index:99;
    background-color:#E1E1E1;
}

.alert-notice {
    position: relative;
    top: 25%;
    bottom: 25%;
}