<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycit.manage.mapper.DictInfoMapper">
    <insert id="insertBatch" parameterType="java.util.List"
            useGeneratedKeys="true">
        INSERT INTO dict_info
        (type_id,name)
        VALUES
        <foreach collection="infos" item="info" index="index" separator=",">
            (#{info.typeId}, #{info.name})
        </foreach>
    </insert>
</mapper>