<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycit.manage.mapper.JobMenuMapper">

    <resultMap id="jobMenu" type="com.ycit.manage.bean.modal.JobMenu">
        <id column="job_id" property="id"></id>
        <association property="job" javaType="com.ycit.manage.bean.modal.Job">
            <id column="job_id" property="id"></id>
            <result column="full_name" property="fullName"></result>
        </association>
        <collection property="menus" ofType="com.ycit.manage.bean.modal.Menu">
            <id column="menu_id" property="id"></id>
            <result column="name" property="name"></result>
            <result column="icon" property="icon"></result>
            <result column="url" property="url"></result>
            <result column="level" property="level"></result>
            <result column="num" property="num"></result>
            <result column="p_id" property="pId"></result>
            <result column="create_time" property="createTime"></result>
            <result column="modify_time" property="modifyTime"></result>
            <result column="status" property="status"></result>
        </collection>
    </resultMap>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into job_menu
        (job_id, menu_id)
        values
        <foreach collection="jobMenus" item="jobMenu" separator=",">
            (#{jobMenu.jobId},#{jobMenu.menuId})
        </foreach>
    </insert>

</mapper>