<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycit.mapper.OrderMapper">
    <sql id="select-columns">
        id,user_id, code, pay, username, user_tel, user_address,
        price, create_time, send_time, receive_time, status
    </sql>
    <select id="finds" resultType="com.ycit.bean.modal.Order" parameterType="com.ycit.bean.criteria.OrderSearchForm">
        SELECT
        o.*
        FROM order o
        inner join order_goods g
        on o.id = g.order_id
        <where>
            <if test="searchForm.goodsName != null">
                AND g.goods_name LIKE CONCAT(CONCAT('%', #{searchForm.goodsName}),'%')
            </if>
            <if test="searchForm.username != null">
                AND o.username LIKE CONCAT(CONCAT('%', #{searchForm.username}),'%')
            </if>
            <if test="searchForm.status != null">
                AND o.status = #{searchForm.status}
            </if>
            <if test="searchForm.startTime != null">
                <![CDATA[
                 AND o.create_time >= #{searchForm.startTime}
                ]]>
            </if>
            <if test="searchForm.endTime != null">
                <![CDATA[
                 AND o.create_time <= #{searchForm.endTime}
                ]]>
            </if>
        </where>
        group by o.*
    </select>
</mapper>